

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.sedans{
    background-color: hsl(31, 77%, 52%);
    width: 30vh;
    height: 60vh;
    padding: 10px;
}

.suvs{
    background-color: hsl(184, 100%, 22%);
    width: 30vh;
    height: 60vh;
    padding: 10px;
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    width: 30vh;
    height: 60vh;
    padding: 10px;
}

.sedans .btn{
    background: white;
    color:hsl(31, 77%, 52%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 8%;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 20vh;
    margin-left: 20px;
}
.suvs .btn{
    background: white;
    color:hsl(184, 100%, 22%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 8%;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 20vh;
    margin-left: 20px;
}
.luxury .btn{
    background: white;
    color: hsl(179, 100%, 13%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 8%;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 17vh;
    margin-left: 20px;
}

p{
    margin-left: 20px;
    color:  hsla(0, 0%, 100%, 0.75);
    margin-top: 30px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
h3{
    margin-left: 20px;
    color: hsl(0, 0%, 95%);
}

#btn{
    margin-left: 20px;
}


.btn:hover{
    background-color: black;
}






@media(max-width:770px){
    .main{
        display: grid;
    }
}